# Временные файлы Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Виртуальное окружение
venv/
env/

# Логи и данные, которые монтируются как тома
logs/
base/
app.log
users.json

# Секреты и конфиденциальные файлы
.env

# Служебные файлы IDE и системы
*.swp
*.swo
.DS_Store
.idea/
.vscode/

# Документация и прочие ненужные файлы
*.md
*.txt